<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caibang.www.common.mapper.MDepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.caibang.www.common.model.MDepartment" >
    <id column="Mid" property="mid" jdbcType="INTEGER" />
    <result column="MDepName" property="mdepname" jdbcType="VARCHAR" />
    <result column="MHeadUserId" property="mheaduserid" jdbcType="INTEGER" />
    <result column="MDuties" property="mduties" jdbcType="VARCHAR" />
    <result column="MState" property="mstate" jdbcType="INTEGER" />
    <result column="MCid" property="mcid" jdbcType="INTEGER" />
    <result column="MCreatUserId" property="mcreatuserid" jdbcType="INTEGER" />
    <result column="MCreatDate" property="mcreatdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Mid, MDepName, MHeadUserId, MDuties, MState, MCid, MCreatUserId, MCreatDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_department
    where Mid = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_department
    where Mid = #{mid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.caibang.www.common.model.MDepartment" >
    insert into m_department (Mid, MDepName, MHeadUserId, 
      MDuties, MState, MCid, 
      MCreatUserId, MCreatDate)
    values (#{mid,jdbcType=INTEGER}, #{mdepname,jdbcType=VARCHAR}, #{mheaduserid,jdbcType=INTEGER}, 
      #{mduties,jdbcType=VARCHAR}, #{mstate,jdbcType=INTEGER}, #{mcid,jdbcType=INTEGER}, 
      #{mcreatuserid,jdbcType=INTEGER}, #{mcreatdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.caibang.www.common.model.MDepartment" >
    insert into m_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        Mid,
      </if>
      <if test="mdepname != null" >
        MDepName,
      </if>
      <if test="mheaduserid != null" >
        MHeadUserId,
      </if>
      <if test="mduties != null" >
        MDuties,
      </if>
      <if test="mstate != null" >
        MState,
      </if>
      <if test="mcid != null" >
        MCid,
      </if>
      <if test="mcreatuserid != null" >
        MCreatUserId,
      </if>
      <if test="mcreatdate != null" >
        MCreatDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="mdepname != null" >
        #{mdepname,jdbcType=VARCHAR},
      </if>
      <if test="mheaduserid != null" >
        #{mheaduserid,jdbcType=INTEGER},
      </if>
      <if test="mduties != null" >
        #{mduties,jdbcType=VARCHAR},
      </if>
      <if test="mstate != null" >
        #{mstate,jdbcType=INTEGER},
      </if>
      <if test="mcid != null" >
        #{mcid,jdbcType=INTEGER},
      </if>
      <if test="mcreatuserid != null" >
        #{mcreatuserid,jdbcType=INTEGER},
      </if>
      <if test="mcreatdate != null" >
        #{mcreatdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caibang.www.common.model.MDepartment" >
    update m_department
    <set >
      <if test="mdepname != null" >
        MDepName = #{mdepname,jdbcType=VARCHAR},
      </if>
      <if test="mheaduserid != null" >
        MHeadUserId = #{mheaduserid,jdbcType=INTEGER},
      </if>
      <if test="mduties != null" >
        MDuties = #{mduties,jdbcType=VARCHAR},
      </if>
      <if test="mstate != null" >
        MState = #{mstate,jdbcType=INTEGER},
      </if>
      <if test="mcid != null" >
        MCid = #{mcid,jdbcType=INTEGER},
      </if>
      <if test="mcreatuserid != null" >
        MCreatUserId = #{mcreatuserid,jdbcType=INTEGER},
      </if>
      <if test="mcreatdate != null" >
        MCreatDate = #{mcreatdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caibang.www.common.model.MDepartment" >
    update m_department
    set MDepName = #{mdepname,jdbcType=VARCHAR},
      MHeadUserId = #{mheaduserid,jdbcType=INTEGER},
      MDuties = #{mduties,jdbcType=VARCHAR},
      MState = #{mstate,jdbcType=INTEGER},
      MCid = #{mcid,jdbcType=INTEGER},
      MCreatUserId = #{mcreatuserid,jdbcType=INTEGER},
      MCreatDate = #{mcreatdate,jdbcType=TIMESTAMP}
    where Mid = #{mid,jdbcType=INTEGER}
  </update>
</mapper>