<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caibang.www.common.mapper.MPermissionsMapper" >
  <resultMap id="BaseResultMap" type="com.caibang.www.common.model.MPermissions" >
    <id column="MId" property="mid" jdbcType="INTEGER" />
    <result column="MPermissionsName" property="mpermissionsname" jdbcType="VARCHAR" />
    <result column="MPermissionsType" property="mpermissionstype" jdbcType="INTEGER" />
    <result column="MPermissionsCode" property="mpermissionscode" jdbcType="VARCHAR" />
    <result column="MUrl" property="murl" jdbcType="VARCHAR" />
    <result column="MPermissionsIcon" property="mpermissionsicon" jdbcType="VARCHAR" />
    <result column="MCreatDate" property="mcreatdate" jdbcType="TIMESTAMP" />
    <result column="MCreatUserId" property="mcreatuserid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    MId, MPermissionsName, MPermissionsType, MPermissionsCode, MUrl, MPermissionsIcon, 
    MCreatDate, MCreatUserId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_permissions
    where MId = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_permissions
    where MId = #{mid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.caibang.www.common.model.MPermissions" >
    insert into m_permissions (MId, MPermissionsName, MPermissionsType, 
      MPermissionsCode, MUrl, MPermissionsIcon, 
      MCreatDate, MCreatUserId)
    values (#{mid,jdbcType=INTEGER}, #{mpermissionsname,jdbcType=VARCHAR}, #{mpermissionstype,jdbcType=INTEGER}, 
      #{mpermissionscode,jdbcType=VARCHAR}, #{murl,jdbcType=VARCHAR}, #{mpermissionsicon,jdbcType=VARCHAR}, 
      #{mcreatdate,jdbcType=TIMESTAMP}, #{mcreatuserid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.caibang.www.common.model.MPermissions" >
    insert into m_permissions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        MId,
      </if>
      <if test="mpermissionsname != null" >
        MPermissionsName,
      </if>
      <if test="mpermissionstype != null" >
        MPermissionsType,
      </if>
      <if test="mpermissionscode != null" >
        MPermissionsCode,
      </if>
      <if test="murl != null" >
        MUrl,
      </if>
      <if test="mpermissionsicon != null" >
        MPermissionsIcon,
      </if>
      <if test="mcreatdate != null" >
        MCreatDate,
      </if>
      <if test="mcreatuserid != null" >
        MCreatUserId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="mpermissionsname != null" >
        #{mpermissionsname,jdbcType=VARCHAR},
      </if>
      <if test="mpermissionstype != null" >
        #{mpermissionstype,jdbcType=INTEGER},
      </if>
      <if test="mpermissionscode != null" >
        #{mpermissionscode,jdbcType=VARCHAR},
      </if>
      <if test="murl != null" >
        #{murl,jdbcType=VARCHAR},
      </if>
      <if test="mpermissionsicon != null" >
        #{mpermissionsicon,jdbcType=VARCHAR},
      </if>
      <if test="mcreatdate != null" >
        #{mcreatdate,jdbcType=TIMESTAMP},
      </if>
      <if test="mcreatuserid != null" >
        #{mcreatuserid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caibang.www.common.model.MPermissions" >
    update m_permissions
    <set >
      <if test="mpermissionsname != null" >
        MPermissionsName = #{mpermissionsname,jdbcType=VARCHAR},
      </if>
      <if test="mpermissionstype != null" >
        MPermissionsType = #{mpermissionstype,jdbcType=INTEGER},
      </if>
      <if test="mpermissionscode != null" >
        MPermissionsCode = #{mpermissionscode,jdbcType=VARCHAR},
      </if>
      <if test="murl != null" >
        MUrl = #{murl,jdbcType=VARCHAR},
      </if>
      <if test="mpermissionsicon != null" >
        MPermissionsIcon = #{mpermissionsicon,jdbcType=VARCHAR},
      </if>
      <if test="mcreatdate != null" >
        MCreatDate = #{mcreatdate,jdbcType=TIMESTAMP},
      </if>
      <if test="mcreatuserid != null" >
        MCreatUserId = #{mcreatuserid,jdbcType=INTEGER},
      </if>
    </set>
    where MId = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caibang.www.common.model.MPermissions" >
    update m_permissions
    set MPermissionsName = #{mpermissionsname,jdbcType=VARCHAR},
      MPermissionsType = #{mpermissionstype,jdbcType=INTEGER},
      MPermissionsCode = #{mpermissionscode,jdbcType=VARCHAR},
      MUrl = #{murl,jdbcType=VARCHAR},
      MPermissionsIcon = #{mpermissionsicon,jdbcType=VARCHAR},
      MCreatDate = #{mcreatdate,jdbcType=TIMESTAMP},
      MCreatUserId = #{mcreatuserid,jdbcType=INTEGER}
    where MId = #{mid,jdbcType=INTEGER}
  </update>
</mapper>