<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caibang.www.common.mapper.MUserLoginLogMapper" >
  <resultMap id="BaseResultMap" type="com.caibang.www.common.model.MUserLoginLog" >
    <id column="Mid" property="mid" jdbcType="INTEGER" />
    <result column="MUserId" property="muserid" jdbcType="INTEGER" />
    <result column="MLoginIp" property="mloginip" jdbcType="VARCHAR" />
    <result column="MLoginDate" property="mlogindate" jdbcType="TIMESTAMP" />
    <result column="MEquipment" property="mequipment" jdbcType="VARCHAR" />
    <result column="PAPPID" property="pappid" jdbcType="VARCHAR" />
    <result column="MLoginType" property="mlogintype" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Mid, MUserId, MLoginIp, MLoginDate, MEquipment, PAPPID, MLoginType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_user_login_log
    where Mid = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_user_login_log
    where Mid = #{mid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.caibang.www.common.model.MUserLoginLog" >
    insert into m_user_login_log (Mid, MUserId, MLoginIp, 
      MLoginDate, MEquipment, PAPPID, 
      MLoginType)
    values (#{mid,jdbcType=INTEGER}, #{muserid,jdbcType=INTEGER}, #{mloginip,jdbcType=VARCHAR}, 
      #{mlogindate,jdbcType=TIMESTAMP}, #{mequipment,jdbcType=VARCHAR}, #{pappid,jdbcType=VARCHAR}, 
      #{mlogintype,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.caibang.www.common.model.MUserLoginLog" >
    insert into m_user_login_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        Mid,
      </if>
      <if test="muserid != null" >
        MUserId,
      </if>
      <if test="mloginip != null" >
        MLoginIp,
      </if>
      <if test="mlogindate != null" >
        MLoginDate,
      </if>
      <if test="mequipment != null" >
        MEquipment,
      </if>
      <if test="pappid != null" >
        PAPPID,
      </if>
      <if test="mlogintype != null" >
        MLoginType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="muserid != null" >
        #{muserid,jdbcType=INTEGER},
      </if>
      <if test="mloginip != null" >
        #{mloginip,jdbcType=VARCHAR},
      </if>
      <if test="mlogindate != null" >
        #{mlogindate,jdbcType=TIMESTAMP},
      </if>
      <if test="mequipment != null" >
        #{mequipment,jdbcType=VARCHAR},
      </if>
      <if test="pappid != null" >
        #{pappid,jdbcType=VARCHAR},
      </if>
      <if test="mlogintype != null" >
        #{mlogintype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caibang.www.common.model.MUserLoginLog" >
    update m_user_login_log
    <set >
      <if test="muserid != null" >
        MUserId = #{muserid,jdbcType=INTEGER},
      </if>
      <if test="mloginip != null" >
        MLoginIp = #{mloginip,jdbcType=VARCHAR},
      </if>
      <if test="mlogindate != null" >
        MLoginDate = #{mlogindate,jdbcType=TIMESTAMP},
      </if>
      <if test="mequipment != null" >
        MEquipment = #{mequipment,jdbcType=VARCHAR},
      </if>
      <if test="pappid != null" >
        PAPPID = #{pappid,jdbcType=VARCHAR},
      </if>
      <if test="mlogintype != null" >
        MLoginType = #{mlogintype,jdbcType=INTEGER},
      </if>
    </set>
    where Mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caibang.www.common.model.MUserLoginLog" >
    update m_user_login_log
    set MUserId = #{muserid,jdbcType=INTEGER},
      MLoginIp = #{mloginip,jdbcType=VARCHAR},
      MLoginDate = #{mlogindate,jdbcType=TIMESTAMP},
      MEquipment = #{mequipment,jdbcType=VARCHAR},
      PAPPID = #{pappid,jdbcType=VARCHAR},
      MLoginType = #{mlogintype,jdbcType=INTEGER}
    where Mid = #{mid,jdbcType=INTEGER}
  </update>
</mapper>