<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caibang.www.common.mapper.MUserPasswordLogMapper" >
  <resultMap id="BaseResultMap" type="com.caibang.www.common.model.MUserPasswordLog" >
    <id column="Mid" property="mid" jdbcType="INTEGER" />
    <result column="MUserId" property="muserid" jdbcType="INTEGER" />
    <result column="MUPOld" property="mupold" jdbcType="VARCHAR" />
    <result column="MUPNew" property="mupnew" jdbcType="VARCHAR" />
    <result column="MUpDate" property="mupdate" jdbcType="TIMESTAMP" />
    <result column="MUpIp" property="mupip" jdbcType="VARCHAR" />
    <result column="MEquipment" property="mequipment" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Mid, MUserId, MUPOld, MUPNew, MUpDate, MUpIp, MEquipment
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_user_password_log
    where Mid = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_user_password_log
    where Mid = #{mid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.caibang.www.common.model.MUserPasswordLog" >
    insert into m_user_password_log (Mid, MUserId, MUPOld, 
      MUPNew, MUpDate, MUpIp, 
      MEquipment)
    values (#{mid,jdbcType=INTEGER}, #{muserid,jdbcType=INTEGER}, #{mupold,jdbcType=VARCHAR}, 
      #{mupnew,jdbcType=VARCHAR}, #{mupdate,jdbcType=TIMESTAMP}, #{mupip,jdbcType=VARCHAR}, 
      #{mequipment,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.caibang.www.common.model.MUserPasswordLog" >
    insert into m_user_password_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        Mid,
      </if>
      <if test="muserid != null" >
        MUserId,
      </if>
      <if test="mupold != null" >
        MUPOld,
      </if>
      <if test="mupnew != null" >
        MUPNew,
      </if>
      <if test="mupdate != null" >
        MUpDate,
      </if>
      <if test="mupip != null" >
        MUpIp,
      </if>
      <if test="mequipment != null" >
        MEquipment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="muserid != null" >
        #{muserid,jdbcType=INTEGER},
      </if>
      <if test="mupold != null" >
        #{mupold,jdbcType=VARCHAR},
      </if>
      <if test="mupnew != null" >
        #{mupnew,jdbcType=VARCHAR},
      </if>
      <if test="mupdate != null" >
        #{mupdate,jdbcType=TIMESTAMP},
      </if>
      <if test="mupip != null" >
        #{mupip,jdbcType=VARCHAR},
      </if>
      <if test="mequipment != null" >
        #{mequipment,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caibang.www.common.model.MUserPasswordLog" >
    update m_user_password_log
    <set >
      <if test="muserid != null" >
        MUserId = #{muserid,jdbcType=INTEGER},
      </if>
      <if test="mupold != null" >
        MUPOld = #{mupold,jdbcType=VARCHAR},
      </if>
      <if test="mupnew != null" >
        MUPNew = #{mupnew,jdbcType=VARCHAR},
      </if>
      <if test="mupdate != null" >
        MUpDate = #{mupdate,jdbcType=TIMESTAMP},
      </if>
      <if test="mupip != null" >
        MUpIp = #{mupip,jdbcType=VARCHAR},
      </if>
      <if test="mequipment != null" >
        MEquipment = #{mequipment,jdbcType=INTEGER},
      </if>
    </set>
    where Mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caibang.www.common.model.MUserPasswordLog" >
    update m_user_password_log
    set MUserId = #{muserid,jdbcType=INTEGER},
      MUPOld = #{mupold,jdbcType=VARCHAR},
      MUPNew = #{mupnew,jdbcType=VARCHAR},
      MUpDate = #{mupdate,jdbcType=TIMESTAMP},
      MUpIp = #{mupip,jdbcType=VARCHAR},
      MEquipment = #{mequipment,jdbcType=INTEGER}
    where Mid = #{mid,jdbcType=INTEGER}
  </update>
</mapper>